{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": "usage",
        "debug": false,
        "exclude": [
          "web.dom.iterable"
        ]
      }
    ]
  ],
  "plugins": ["closure-elimination"]
}
